.read-more-button {
    color: #007bff
}

.read-more-button:hover {
    cursor: pointer
}

.account-control:hover {
    cursor: pointer
}

.fa-star:hover {
    cursor: pointer;
    color: #ffd800;
}

.like-button {
    position: absolute;
    bottom: 3%;
    right: 4%;
}

.spacer {
    margin-top: 40px
}

.auth-form {
    width: 80%;
    margin: 20% auto 0;
    max-width: 400px;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

html {
    min-height: 100%;
}

body {
    background: rgb(255,255,255);
    /*background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(242,239,245,1) 100%);*/
}